.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgreen2);
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    padding: 20px;
}

.footer-content p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-content img{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 20px;
}